@media (max-width: 1200px) {
  .ant-drawer {
    .ant-drawer-content-wrapper {
      width: 90% !important;
    }
  }
  .ant-modal {
    width: 90% !important;
  }
}

body {
  font-family: Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: #1677ff;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: #e6f4ff;
  color: #1677ff;
}
