.node-box {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%);
    border-style: solid;
    width: 0;
    border-width: 8px 6px 4px;
    border-color: #dcdfe6 transparent transparent;
    background-color: var(--flow-bg-color, #f5f5f5);
  }

  .node {
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    min-height: 90px;
    width: 230px;
    z-index: 10;
    color: rgba(0, 0, 0, 0.88);
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    &.error-node {
      box-shadow: 0 0 5px 0 #ff7875;
    }

    .node-header {
      padding: 2px 7px;
      border-radius: 7px 7px 0 0;
      box-sizing: border-box;
      border-bottom: 1px solid #e8e8e8;

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .node-close {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 10;
        display: none;
      }
    }

    .node-content {
      position: relative;
      padding: 20px;
    }

    &:hover {
      &:not(.error-node) {
        box-shadow: 0 0 5px 0 #1677ff;
      }

      .node-close {
        display: block;
      }
    }
  }
}
