.opt-item {
  display: flex;
  align-items: center;

  .opt-item__icon {
    background: #1677ff;
    color: #fff;
    border-radius: 7px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .opt-item__content {
    box-sizing: border-box;
    flex: 1;
    margin-left: 20px;
    font-size: 14px;

    .opt-item__second {
      margin-top: 3px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
